.header {
  max-width: 1920px;
  margin: 0 auto; }

.header .header-info button, .services button {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 200px;
  height: 45px; }
  .header .header-info button:focus, .services button:focus {
    outline: none; }
  .header .header-info button:hover, .services button:hover {
    cursor: pointer; }

/* Start  header */
.header {
  overflow: hidden;
  position: relative; }
  .header .header-nav {
    position: absolute;
    top: 40px;
    right: 18%; }
    .header .header-nav li {
      display: inline-block;
      padding: 0 20px 39px 20px; }
      .header .header-nav li a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff; }
      .header .header-nav li:hover {
        border-bottom: 2px solid #ffffff; }
  .header span {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border: 1px solid rgba(161, 161, 161, 0.5); }
  .header .header-info {
    position: absolute;
    top: 319px;
    left: 50%;
    transform: translate(-50%); }
    .header .header-info p:first-of-type {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff; }
    .header .header-info p:last-of-type {
      margin-top: 20px;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #FFFFFF; }

/* End header */
.services {
  margin: 0 auto;
  max-width: 1113px;
  margin-top: 110px;
  display: flex;
  flex-direction: column; }
  .services h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232; }
  .services > p {
    margin-top: 50px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999; }
  .services .services__item-block {
    display: flex;
    justify-content: space-between;
    margin-top: 70px; }
    .services .services__item-block .services__item {
      display: flex; }
      .services .services__item-block .services__item .services__elipse-one {
        width: 110px;
        height: 110px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .services .services__item-block .services__item .services__elipse-one .services__elipse-two {
          width: 90px;
          height: 90px;
          border: 1px solid #4985FF;
          box-sizing: border-box;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center; }
      .services .services__item-block .services__item h6 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin: 45px 0 0 17px; }
      .services .services__item-block .services__item p {
        display: block;
        max-width: 222px;
        margin: 12px 0 0 17px;
        font-size: 14px;
        line-height: 22px;
        color: #999999; }
  .services button {
    margin-top: 55px; }

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }
