%block-width{
    max-width: 1920px;
    margin: 0 auto;
}

$text-size: 16px;
$size: 10px;


@import 'header';
@import 'main-services';

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}