* {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

/* Start  header */
.header {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  .header .header-nav {
    position: absolute;
    top: 40px;
    right: 18%; }
    .header .header-nav li {
      display: inline-block;
      padding: 0 20px 39px 20px; }
      .header .header-nav li a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff; }
      .header .header-nav li:hover {
        border-bottom: 2px solid #ffffff; }
  .header span {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border: 1px solid rgba(161, 161, 161, 0.5); }
  .header .header-info {
    position: absolute;
    top: 319px;
    left: 50%;
    transform: translate(-50%); }
    .header .header-info p:first-of-type {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff; }
    .header .header-info p:last-of-type {
      margin-top: 20px;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #FFFFFF; }
    .header .header-info button {
      margin-left: 50%;
      transform: translate(-50%);
      margin-top: 50px;
      background: #4985FF;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      border: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      width: 200px;
      height: 45px; }
      .header .header-info button:focus {
        outline: none; }
      .header .header-info button:hover {
        cursor: pointer; }

/* End header */
/* start main-services */
.services {
  margin: 0 auto;
  max-width: 1113px;
  margin-top: 110px;
  display: flex;
  flex-direction: column; }
  .services h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232; }
  .services > p {
    margin-top: 50px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999; }
  .services .services__item-block {
    display: flex;
    justify-content: space-between;
    margin-top: 70px; }
    @media screen and (max-width: 800px) {
      .services .services__item-block {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .services .services__item-block .services__item {
      display: flex; }
      .services .services__item-block .services__item .services__elipse-one {
        width: 110px;
        height: 110px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .services .services__item-block .services__item .services__elipse-one .services__elipse-two {
          width: 90px;
          height: 90px;
          border: 1px solid #4985FF;
          box-sizing: border-box;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center; }
      .services .services__item-block .services__item h6 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin: 45px 0 0 17px; }
      .services .services__item-block .services__item p {
        display: block;
        max-width: 222px;
        margin: 12px 0 0 17px;
        font-size: 14px;
        line-height: 22px;
        color: #999999; }
  .services button {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 45px;
    margin-top: 55px; }
    .services button:focus {
      outline: none; }
    .services button:hover {
      cursor: pointer; }

/* end main-services */
/* start main-about-us */
.about-us {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F6F6F8;
  margin-top: 105px; }
  .about-us .about-us__head {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      .about-us .about-us__head {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .about-us .about-us__head .about-us__text {
      max-width: 489px;
      margin-top: 152px; }
      .about-us .about-us__head .about-us__text h4 {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        color: #323232; }
      .about-us .about-us__head .about-us__text p {
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        margin: 40px 0 30px 0; }
      .about-us .about-us__head .about-us__text a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #4985FF; }
    .about-us .about-us__head .about-us__img {
      margin: 100px 0 90px 121px;
      overflow: hidden;
      border-radius: 30px;
      max-width: 500px;
      height: 380px; }
      @media screen and (max-width: 800px) {
        .about-us .about-us__head .about-us__img {
          margin: 0 auto; } }
  .about-us span {
    display: block;
    border: 1px solid #E0E0E0;
    max-width: 1110px;
    margin: 0 auto; }
  .about-us .about-us__footer {
    margin-top: 70px;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      .about-us .about-us__footer {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .about-us .about-us__footer .about-us__numbers {
      margin: 0 50px 70px; }
      .about-us .about-us__footer .about-us__numbers img {
        margin-top: 8px; }
      .about-us .about-us__footer .about-us__numbers h6 {
        font-size: 36px;
        font-weight: normal;
        color: #000000;
        float: right;
        margin-left: 20px; }
      .about-us .about-us__footer .about-us__numbers p {
        font-size: 16px;
        line-height: 25px;
        color: #999999; }

/* end main-about-us */
/* start all-services */
.all-services {
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  max-height: 490px; }
  .all-services .all-services__head {
    max-width: 1113px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 800px) {
      .all-services .all-services__head {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .all-services .all-services__head h3 {
      font-weight: bold;
      font-size: 36px;
      line-height: 53px;
      color: #FFFFFF;
      margin-top: 100px; }
    .all-services .all-services__head button {
      margin-left: 50%;
      transform: translate(-50%);
      margin-top: 50px;
      background: #4985FF;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      border: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      width: 200px;
      height: 45px;
      transform: none;
      margin-left: 0;
      margin-top: 120px; }
      .all-services .all-services__head button:focus {
        outline: none; }
      .all-services .all-services__head button:hover {
        cursor: pointer; }
  .all-services .all-services__block-item {
    display: flex;
    justify-content: space-between;
    max-width: 1113px;
    margin: 0 auto;
    margin-top: 70px; }
    @media screen and (max-width: 800px) {
      .all-services .all-services__block-item {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .all-services .all-services__block-item .all-services__item {
      max-width: 350px; }
      .all-services .all-services__block-item .all-services__item .all-serveces__img {
        border-radius: 10px;
        overflow: hidden; }
      .all-services .all-services__block-item .all-services__item h4 {
        margin-top: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000; }
        .all-services .all-services__block-item .all-services__item h4 span {
          color: #4985FF; }
      .all-services .all-services__block-item .all-services__item p {
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        margin: 30px 0; }
      .all-services .all-services__block-item .all-services__item a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #4985FF; }
  .all-services > span {
    display: block;
    border: 1px solid #E0E0E0;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 85px; }

/* end all-services */
/* start all-projects */
.all-projects {
  max-width: 1920px;
  margin: 0 auto;
  background: #F6F6F8;
  margin-top: 520px; }
  @media screen and (max-width: 800px) {
    .all-projects {
      margin-top: 1800px; } }
  .all-projects h3 {
    padding-top: 91px;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #000000; }
  .all-projects p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 50px; }
  .all-projects .all-projects__block-item {
    display: flex;
    justify-content: space-between;
    max-width: 1113px;
    margin: 0 auto;
    margin-top: 70px; }
    @media screen and (max-width: 800px) {
      .all-projects .all-projects__block-item {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .all-projects .all-projects__block-item .all-projects__item {
      overflow: hidden;
      border-radius: 10px; }
  .all-projects button {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 45px;
    margin-bottom: 130px; }
    .all-projects button:focus {
      outline: none; }
    .all-projects button:hover {
      cursor: pointer; }

/* end all-projects */
/* start video */
.video {
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }
  .video .video__img {
    overflow: hidden; }
  .video h3 {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF; }
  .video p {
    position: absolute;
    top: 173px;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF; }
    @media screen and (max-width: 800px) {
      .video p {
        position: absolute;
        top: 240px;
        left: 50%; } }
  .video .video__play {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    overflow: hidden; }
    @media screen and (max-width: 800px) {
      .video .video__play {
        position: absolute;
        top: 300px;
        left: 50%; } }
    .video .video__play video {
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 10px;
      max-width: 960px;
      max-height: 420px; }
      @media screen and (max-width: 800px) {
        .video .video__play video {
          width: 480px;
          height: auto; } }
    .video .video__play .video__btn-play {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      width: 300px;
      height: 100px;
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
      line-height: 60px;
      vertical-align: middle;
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 200px; }
      .video .video__play .video__btn-play:hover {
        cursor: pointer; }
      .video .video__play .video__btn-play img {
        vertical-align: middle;
        display: inline-block;
        margin-right: 21px; }
  .video span {
    display: block;
    border: 1px solid #E0E0E0;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 120px; }

/* end video */
/* start main-subcribe */
.subcribe {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  margin-top: 85px; }
  .subcribe h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; }
  .subcribe p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-top: 20px; }
  .subcribe p:last-child {
    font-size: 13px;
    line-height: 21px;
    margin-top: 35px; }
  .subcribe form {
    position: relative;
    max-width: 489px;
    margin: 0 auto;
    margin-top: 30px; }
    .subcribe form input {
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      width: 489px;
      height: 45px;
      padding-left: 30px;
      margin-right: 0; }
      .subcribe form input:focus {
        outline: none; }
    .subcribe form button {
      position: absolute;
      left: 299px;
      width: 190px;
      height: 45px;
      background: #4985FF;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 0px 30px 30px 0px;
      border: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF; }
      .subcribe form button:focus {
        outline: none; }

/* end main-subcribe */
/* start footer */
footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F6F6F8;
  margin-top: 85px; }
  footer .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px; }
    @media screen and (max-width: 800px) {
      footer .container {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    footer .container h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 35px; }
    footer .container li {
      margin-bottom: 30px;
      list-style-image: url(/img/Vector.png); }
      footer .container li a {
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        color: #999999; }
    footer .container .container__link1 li {
      list-style: none; }
      footer .container .container__link1 li img {
        padding-right: 15px;
        vertical-align: bottom; }
  footer span {
    display: block;
    border: 1px solid #E0E0E0;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 40px; }
  footer p {
    padding: 30px 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999; }

/* end footer */
