* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

$text-size: 16px;

@import 'mixin';
@import 'header';
@import 'main-services';
@import 'main-about-us';
@import 'main-all-services';
@import 'main-all-projects';


